div.main {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: center;
}

form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 950px;
  height:70%;
  line-height:100px;
  text-align:center;
  font-size: 150px;
}
input.time {
  width: 300px;
  height: 300px;
  font-size: 190px;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
  vertical-align: middle;
}

.time-label {
  font-size: 140px;
  font-weight: bold;
  margin: 0 0 0 30px
}

.button {
  width:180px;
  height:60px;
  line-height:40px;
  text-decoration: none;
  background:#7DBD55;
  text-align:center;
  color:#FFFFFF;
  font-size:20px;
  font-weight:bold;
  border-radius:50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  margin-right: 10px;
  cursor: pointer;
}
.button.stop {
  background-color: #d36963;
}
.button.reset {
  background-color: #787878;
}
.button:hover{
  opacity: .8;
}
